.table-title {
    margin-left:auto; 
    margin-right:auto;
}

table.awards-table {
    border-collapse: collapse;
    width: 50%;
    background-color:white;
    margin-left:auto; 
    margin-right:auto;
}

th {
    height: 40px;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid gray;
}

tr:hover {
    background-color: aliceblue;
}

.award-form {
    background: white;
    width: 600px;
}

#pdf-mail-form-1 {
    width: 50%;
    float: left;
}

#pdf-mail-form-2 {
    width: 50%;
    float: left;
}


input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid gray;
    padding: 7px 10px;
    text-align: center;
}

input[type=submit]:hover {
    background-color: gray;
    color: black;
}

input[type=text] {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 4px 10px;
}

select {
    width: 50%;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: white;
}
